{% extends 'base.html.twig' %}

{% block title %}Result page{% endblock %}

{% block body %}
<table class="table w-auto">
    <thead>
    <tr>
        <th scope="col">+ / -</th>
        <th scope="col">#</th>
        <th scope="col">Text</th>
    </tr>
    </thead>
    <tbody>
    {% for i in result %}
        {% if i.status.value == 'success' %}
        <tr class="table-success">
            <td>correct</td>
            <td>№ {{ i.questionID }}</td>
            <td>{{ i.questionText }}</td>
        </tr>
        {% endif %}
        {% if i.status.value == 'failed' %}
        <tr class="table-danger">
            <td>incorrect</td>
            <td>№ {{ i.questionID }}</td>
            <td>{{ i.questionText }}</td>
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}
